h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-family:Comic Sans MS, cursive, sans-serif;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #F5F5DC;
}

button {
    background-color: #E07A5F;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 50px;
    border-color:black;
}

button:hover {
    background-color: #D65A3F;
}

footer { 
    bottom: -100px; 
    background-color: #81B29A; 
    color: #1D3557; 
    position:relative;  
    text-align:center; 
    font-size:30px; 
    font-weight:bold;
    padding: 5px;
    border: 8px solid #638876;
    border-radius: 50px;

}

.contenedor {
    text-align: center;
}
