h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-family:Comic Sans MS, cursive, sans-serif;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(3, 217, 196);
}

button {
    background-color: rgba(248, 44, 3, 0.685);
    color: rgb(255, 255, 255);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    border-color:black;
}

footer {
    width: 100%; 
    bottom: 0px; 
    background-color: rgb(2, 167, 151); 
    color: #000000; 
    position: absolute; 
    padding-top:20px; 
    padding-bottom:50px; 
    text-align:center; 
    font-size:30px; 
    font-weight:bold;
}

.contenedor {
    text-align: center;
}
